html {
  background: #181818;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
}

.logo {
  width: 80px;
}

nav {
  background: #202020;
  /* padding: 0.8rem 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav .left,
nav .center,
nav .right,
.search__input,
.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .left {
  margin-left: 20px;
  width: 10vw;
}

nav .right {
  margin-right: 20px;
  width: 14vw;
}

nav .center {
  width: 45vw;
  height: 35px;
}

nav .left,
nav .right {
  justify-content: space-between;
}

.search__input {
  background: black;
  width: inherit;
  height: inherit;
  padding: 10px;
}

.search__input input {
  background: none;
  border: none;
  font-size: 0.9rem;
  width: 100%;
}

.search__icon {
  background: grey;
  width: 70px;
  height: inherit;
}

main {
  margin: 1.5rem 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  width: 800px;
}

iframe {
  width: inherit;
  height: 450px;
}

.line__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line__links span {
  padding: 0 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvote,
.downvote,
.share,
.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

aside {
  width: 400px;
  display: flex;
  flex-direction: column;
}

aside .text-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside .text-next p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside .video {
  display: flex;
}

aside .video .thumb img {
  width: 168px;
}

aside .video .details {
  margin-top: 15px;
  margin-left: 15px;
}

aside .video .details .title {
  font-size: 0.9rem;
  font-weight: bold;
}

aside .video .details .name,
aside .video .details .detail {
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ! Light Theme
@media (prefers-color-scheme: light) {
  html {
    background: white;
    color: black;
  }
}
*/
