html {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 80px;
}

/* ! Light Theme
@media (prefers-color-scheme: light) {
  html {
    background: white;
    color: black;
  }
}
*/
